Flask
Bootstrap-Flask
Flask-Babel
Flask-Bcrypt
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-Script
Flask-Testing
Flask-WTF
Jinja2
Mako
MarkupSafe
SQLAlchemy
WTForms
Werkzeug
alembic
blinker
coverage
python-dotenv
email_validator
requests
oauthlib
pyOpenSSL