{% extends "layout.html" %}

{% block page_content %}
<h2>{{_("We deliver your posts to the following cities of Uzbekistan")}}</h2>
<p>BUXORO,QASHQADARYO,NAMANGAN,FARG`ONA,TOSHKENT,ANDIJON,SAMARQAND</p>

<h2>{{_('Contact us via our admins')}}</h2>
<ul class="list-group">
  <li class="list-group-item">
    <a href="https://t.me/BSI_MOBILE"><i class="fab fa-telegram"></i>BSI_MOBILE</a>
  </li>
  <li class="list-group-item">Tokyo, <a href="tel:03-6231-7212">03-6231-7212</a>, <a href="https://t.me/BSI_TOKYO"><i class="fab fa-telegram"></i>BSI_TOKYO</a></li>
  <li class="list-group-item">
    Yokohama, <a href="tel:090-3330-6288">090-3330-6288</a>, <a href="https://t.me/BSI_YOKOHAMA"><i class="fab fa-telegram"></i>BSI_YOKOHAMA</a>
  </li>
  <li class="list-group-item">
    Nagoya, <a href="tel:080-8098-0202">080-8098-0202</a>, <a href="https://t.me/BSI_NAGOYA"><i class="fab fa-telegram"></i>BSI_NAGOYA</a>
  </li>
  <li class="list-group-item">
    Osaka, <a href="tel:090-9255-4192">090-9255-4192</a>, <a href="https://t.me/BSI_OSAKA"><i class="fab fa-telegram"></i>BSI_OSAKA</a>
  </li>
  <li class="list-group-item">
    Shizuoka, <a href="tel:080-5941-5126">080-5941-5126</a>, <a href="https://t.me/BSI_SHIZUOKA"><i class="fab fa-telegram"></i>BSI_SHIZUOKA</a>
  </li>
</ul>
{% endblock %}
