{% extends "layout.html" %}

{% block page_content %}
<p>{{_("This is a platform to enter and keep track of post weights that you send to BSI.")}}</p>

{% if current_user.is_authenticated and current_user.is_confirmed %}
<ul class="listgroup">
<li class="listgroup-item"><a href="{{url_for('post_weight_bp.post_weights')}}">{{_("View sent post weights")}}</a></li>
  <li class="listgroup-item"><a href="{{url_for('post_weight_bp.new_weight')}}">{{_("Enter new weight")}}</a></li>
</ul>

{% else %}

<ul class="listgroup">
  <li class="listgroup-item"><a href="{{url_for('auth_bp.google_login')}}">{{_("Log in with Google account")}}</a></li>
  <li class="listgroup-item"><a href="{{url_for('auth_bp.login')}}">{{_("Log in with usual account")}}</a></li>
</ul>

{% endif %}

{% endblock %}
