{% extends "layout.html" %}

{% block page_content %}
<table class="table table-hover">
  <thead>
    <th>{{_("Field")}}</th>
    <th>{{_("Value")}}</th>
  </thead>
  <tbody>
    <tr>
      <td>{{_("Email")}}</td>
      <td>{{current_user.email}}</td>
    </tr>
    <tr>
      <td>{{_("Username")}}</td>
      <td>{{current_user.username}}</td>
    </tr>
    <tr>
      <td>{{_("Name")}}</td>
      <td>{{current_user.name}}</td>
    </tr>
    <tr>
      <td>{{_("Phone")}}</td>
      <td>{{current_user.phone}}</td>
    </tr>
    <tr>
      <td>{{_("Address")}}</td>
      <td>{{current_user.address}}</td>
    </tr>
    <tr>
      <td>{{_("Registered date")}}</td>
      <td>{{moment(current_user.registered_on).format('LLL')}}</td>
    </tr>
  </tbody>
</table>
<a class="btn btn-lg btn-dark" href="{{url_for('auth_bp.edit_profile')}}">{{_("Edit")}}</a>
{% endblock %}
