{% extends "layout.html" %}

{% block page_content %}
<ul class="list-group">
  <li class="list-group-item list-group-item-warning">{{_("Unpaid amount")}} : {{format_number(summary['total_unpaid_amount'])}}</li>
  <li class="list-group-item">{{_("Unpaid weight")}} : {{format_number(summary['total_unpaid_weight'])}}</li>
  <li class="list-group-item ">{{_("Total amount")}} : {{format_number(summary['total_amount'])}}</li>
  <li class="list-group-item">{{_("Total weight")}} : {{format_number(summary['total_weight'])}}</li>
</ul>
<div class="container">
  <a class="btn btn-dark" href="{{url_for('post_weight_bp.new_post_weight',next=url_for(request.endpoint,adate=adate))}}">{{_("Add new weight")}}</a>
</div>
<table class="table table-hover table-responsive orderByDateTable">
  <thead order_col_no="9">
    <th scope="col">{{_("Post ID")}}</th>
    <th scope="col">{{_("From Country")}}</th>
    <th scope="col">{{_("To Country")}}</th>
    <th scope="col">{{_("Represented Individual")}}</th>
    <th scope="col">{{_("Recipient")}}</th>
    <th scope="col">{{_("Sent date")}}</th>
    <th scope="col">{{_("Weight (in kg)")}}</th>
    <th scope="col">{{_("Payment amount")}}</th>
    <th scope="col">{{_("Entered on")}}</th>
    <th scope="col">{{_("Modified on")}}</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for post_weight in post_weights %}
    <tr class="{% if post_weight.is_paid %} table-success {% endif %}">
      <td>{{post_weight.human_readable_id}}</td>
      <td>{{post_weight.from_country.country_name}}</td>
      <td>{{post_weight.to_country.country_name}}</td>
      <td>{{post_weight.represented_individual.name}}</td>
      <td>{{post_weight.recipient.name}}</td>
      <td>{{moment(post_weight.sent_date).format('LL')}}</td>
      <td>{{format_number(post_weight.weight)}}</td>
      <td>{{format_number(post_weight.payment_amount)}}</td>
      <td>{{moment(post_weight.entered_on).format('LLL')}}</td>
      <td>{{moment(post_weight.modified_on).format('LLL')}}</td>
      <td>
        <a class="btn btn-dark" href="{{url_for('post_weight_bp.view_post_weight_contents',post_weight_id=post_weight.id)}}">{{_("Contents")}}</a>
      </td>
      <td>
        <a class="btn btn-dark {% if not post_weight.is_removable %} disabled {% endif %}" href="{{url_for('post_weight_bp.remove_post_weight',post_weight_id=post_weight.id, next=url_for(request.endpoint,adate=adate))}}">{{_("Remove")}}</a>
      </td>
      <td>
        <a class="btn btn-dark {% if not post_weight.is_editable %} disabled {% endif %}" href="{{url_for('post_weight_bp.edit_post_weight',post_weight_id=post_weight.id, next=url_for(request.endpoint,adate=adate))}}">{{_("Edit")}}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
