{% extends "layout.html" %}

{% block page_content %}
<table class="table table-hover orderByDateTable">
  <thead order_col_no="0">
    <th>{{_("Sent date")}}</th>
    <th>{{_("Total weight (in kg)")}}</th>
    <th>{{_("Total payment amount")}}</th>
    <th></th>
  </thead>
  <tbody>
    {% for i,row in post_weights_grp_df.iterrows() %}
    <tr>
      <td>{{moment(i).format('LL')}}</td>
      <td>{{format_number(row['weight'])}}</td>
      <td>{{format_number(row['payment_amount'])}}</td>
      <td><a class="btn btn-dark" href="{{url_for('post_weight_bp.post_weights_as_of_date',adate=i)}}">{{_('View')}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
