{% extends "layout.html" %}

{% block page_content %}
<table class="table table-hover">
  <thead>
    <th>{{_("Field")}}</th>
    <th>{{_("Value")}}</th>
  </thead>
  <tbody>
    <tr>
      <td>{{_("Email")}}</td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>{{_("Name")}}</td>
      <td>{{user.name}}</td>
    </tr>
    <tr>
      <td>{{_("Phone")}}</td>
      <td>{{user.phone}}</td>
    </tr>
    <tr>
      <td>{{_("Address")}}</td>
      <td>{{user.address}}</td>
    </tr>
    <tr>
      <td>{{_("Registered date")}}</td>
      <td>{{moment(user.registered_on).format('LLL')}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
