{% extends "layout.html" %}

{% block page_content %}

<table class="table table-hover table-responsive orderByDateTable">
  <thead order_col_no="0">
    <th>{{_("Sending date")}}</th>
    <th>{{_("Note")}}</th>
    <th></th>
  </thead>
  <tbody>
    {% for sending_date_record in sending_dates %}
    <tr>
      <td>{{moment(sending_date_record.sending_date).format('LLL')}}</td>
      <td>{{sending_date_record.note}}</td>
      <td>
        <a class="btn btn-dark" href="{{url_for('bsi_bp.remove_sending_date',sending_date_id=sending_date_record.id)}}">{{_("Remove")}}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
